# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules
node_modules/

# Build output
dist
dist-ssr
build/

# Environment files
.env
.env.*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# npm package-lock or yarn.lock
package-lock.json
yarn.lock

# Mac system files
.DS_Store

# Windows system files
Thumbs.db

# React Native specific
.expo/

# Testing
coverage/

# Misc
*.tgz
