:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(0, 0, 0, 0.87);
  background-color: #ffff;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  min-width: 320px;
  min-height: 100vh;
  background-color: #f5f5dc1c;
  /* background-color: #f5f5dc60; */
}